%h1
  Grupo de usuarios de programación funcional
%h2
  Donde??
%p
  CoWorkingMvd - Bvar Artigas 2529 (Esq Libertad)
%h2
  Quienes?
%p
  Todos los que quieran venir, esta primera vez vamos a hablar un poquito de:
  %ul
    %li
      Bruno Martinez - Va hablar de Gradual Typing
    %li
      Federico Brubacher - Datalog implementations en Clojure
    %li
      Gabriel Claramunt - Scala
